@media (min-width: 601px) and (max-width: 700px) {
  :root {
    --Side_all_categories_font_size-: 1.05rem;
    --Three_dots_font_size-: 1.05rem;
  }
  html {
    font-size: 100%;
  }
  /*===================================
        Hiding Navigation Bar For Pc  
    ====================================*/
  .Navigation_options_background {
    display: none;
  }
  /*===================================
                    Logo 
    ====================================*/
  .Logo_container {
    max-width: 100px;
    min-height: 60px;
  }
  .logo_div {
    height: 60px;
    width: 60px;
  }
  .logo_img {
    width: 80px;
  }
  /*===================================
                   Sign In 
    ====================================*/
  .sign_in {
    height: 40px;
    width: 149px;
    margin-top: 20px;
    margin-right: 0px;
  }
  .login {
    width: 50px;
  }
  /*===================================
                   Search Button
    ====================================*/
  .search_div {
    height: 20px;
    margin-right: 36px;
    width: 20px;
    position: static;
  }
  .Search_img img {
    cursor: pointer;
    height: 48px;
  }

  /*===================================
                Search Input Tag
    ====================================*/
  .seach_btn_input {
    justify-content: center;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -340%);
  }
  .search_input {
    width: 70vw;
    position: relative;
  }
  .search_input::placeholder {
    left: 75px;
  }
  /* .Search_tool_tip::after {
    display: none;
  }
  .Search_tool_tip::before {
    display: none;
  } */
  /*===================================
                 Side Menu Icon
    ====================================*/
  .Side_menu_icon {
    right: 30px;
  }
  /*===================================
                 Side Bar
    ====================================*/
  .Side_bar_container {
    width: 400px;
  }
  /*===================================
                Hero Section
    ====================================*/
  .hero_background {
    flex-wrap: wrap;
    height: max-content;
    justify-content: center;
  }
  .main_heading {
    height: 180px;
    width: 100vw;
    margin-top: 160px;
  }

  .listen_btn_div {
    margin-top: 40px;
  }
  .Most_viewed_div {
    width: 100vw;
    justify-content: center;
    margin-right: 0px;
  }
  .artist {
    width: 322px;
    height: 33px;
  }
  .most_viewed_box {
    height: 415px;
    width: 68vw;
    margin-right: 15px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
  }
  /*===================================
             Plan Compaison Boxes
    ====================================*/
  .Plans_div {
    flex-wrap: nowrap;
  }
  .Plans_container {
    /* margin-top: -100px !important; */
  }
  .Plans_comparison_Box {
    width: 64%;
  }
  .Standard_plan_box,
  .Premium_plan_box {
    margin-top: 20px;
    width: 100vw !important;
  }
  .Basic_plan_box {
    width: 100vw !important;
  }
  .Three_plans:hover {
    margin-top: 0px;
  }
  .Three_plans {
    width: 300px;
  }
  /*===================================
            Songs Categories
    ====================================*/
  .songs_container {
    width: 100%;
    height: 345px;
  }
  .songs_cata_container {
    height: 800px;
  }
  .songs_cata_box {
    width: 90%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;
    justify-content: space-between;
    align-items: center;
  }
  .songs_cata {
    width: 100%;
    border: none;
    border-radius: 2px;
    margin-top: 1px;
  }
  .songs_cata .cata_bg_img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 2px solid black;
  }
  .songs_cata:hover .cata_arrow {
    transform: scale(0.6);
  }
  .cata_arrow {
    right: 23%;
    transform: scale(0.9);
  }
  /*===================================
                 Tik And Cross Buttons
    ====================================*/
  /*===================================
                 Side Bar
    ====================================*/
  /*===================================
                 Side Bar
    ====================================*/
}

@media (min-width: 501px) and (max-width: 600px) {
  :root {
    --Side_all_categories_font_size-: 1rem;
    --Three_dots_font_size-: 1rem;
  }
  html {
    font-size: 100%;
  }
  /*===================================
        Hiding Navigation Bar For Pc  
    ====================================*/
  .Navigation_options_background {
    display: none;
  }
  /*===================================
                    Logo 
    ====================================*/
  .Logo_container {
    max-width: 100px;
    min-height: 60px;
  }
  .logo_div {
    height: 60px;
    width: 60px;
  }
  .logo_img {
    width: 80px;
  }
  /*===================================
                   Sign In 
    ====================================*/
  .sign_in {
    height: 40px;
    width: 149px;
    margin-top: 20px;
    margin-right: 0px;
  }
  .login {
    width: 50px;
  }
  /*===================================
                   Search Button
    ====================================*/
  .search_div {
    height: 20px;
    margin-right: 36px;
    width: 20px;
    position: static;
  }
  .Search_img img {
    cursor: pointer;
    height: 48px;
  }

  /*===================================
                Search Input Tag
    ====================================*/
  .seach_btn_input {
    justify-content: center;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -340%);
  }
  .search_input {
    width: 70vw;
    position: relative;
  }
  .search_input::placeholder {
    left: 75px;
  }
  /* .Search_tool_tip::after {
    display: none;
  }
  .Search_tool_tip::before {
    display: none;
  } */
  /*===================================
                 Side Menu Icon
    ====================================*/
  .Side_menu_icon {
    right: 30px;
  }
  /*===================================
                 Side Bar
    ====================================*/
  .Side_bar_container {
    width: 80vw;
  }
  /*===================================
                Hero Section
    ====================================*/
  .hero_background {
    flex-wrap: wrap;
    height: max-content;
    justify-content: center;
  }
  .main_heading {
    height: 180px;
    width: 100vw;
    margin-top: 160px;
  }

  .listen_btn_div {
    margin-top: 40px;
  }
  .Most_viewed_div {
    width: 100vw;
    justify-content: center;
    margin-right: 0px;
  }
  .artist {
    width: 70vw;
  }
  .most_viewed_box {
    height: 380px;
    width: 85vw;
    margin-right: 15px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
  }
  /*===================================
             Plan Compaison Boxes
    ====================================*/
  .Plans_container {
    margin-top: 100px;
  }
  .Plans_comparison_Box {
    width: 64%;
  }
  .Standard_plan_box,
  .Premium_plan_box {
    margin-top: 20px;
    width: 100vw !important;
  }
  .Basic_plan_box {
    width: 100vw !important;
  }
  .Three_plans:hover {
    margin-top: 0px;
  }
  /*===================================
            Songs Categories
    ====================================*/
  .songs_container {
    width: 100%;
  }
  .songs_cata_container {
    height: 1400px;
  }
  .songs_cata_box {
    width: 90%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .songs_cata {
    width: 100%;
    border: none;
    border-radius: 2px;
    margin-top: 1px;
  }
  .songs_cata .cata_bg_img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 2px solid black;
  }
  .songs_cata:hover .cata_arrow {
    transform: scale(0.6);
  }
  .cata_arrow {
    right: 23%;
    transform: scale(0.9);
  }
  /*===================================
                 Tik And Cross Buttons
    ====================================*/
  /*===================================
                 Side Bar
    ====================================*/
  /*===================================
                 Side Bar
    ====================================*/
}

@media (min-width: 425px) and (max-width: 500px) {
  :root {
    --Side_all_categories_font_size-: 1rem;
    --Three_dots_font_size-: 1rem;
  }
  html {
    font-size: 90%;
  }
  /*===================================
        Hiding Navigation Bar For Pc  
    ====================================*/
  .Navigation_options_background {
    display: none;
  }
  /*===================================
                    Logo 
    ====================================*/
  .Logo_container {
    max-width: 100px;
    min-height: 60px;
  }
  .logo_div {
    height: 60px;
    width: 60px;
  }
  .logo_img {
    width: 70px;
  }
  /*===================================
                   Sign In 
    ====================================*/
  .sign_in {
    height: 40px;
    width: 149px;
    margin-top: 0px;
    margin-right: 0px;
  }
  .login {
    width: 40px;
  }
  /*===================================
                   Search Button
    ====================================*/
  .search_div {
    height: 20px;
    margin-right: 36px;
    width: 20px;
    position: static;
  }
  .Search_img img {
    cursor: pointer;
    height: 38px;
  }
  /*===================================
                Search Input Tag
    ====================================*/
  .seach_btn_input {
    justify-content: center;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -340%);
  }
  .search_input {
    width: 70vw;
    position: relative;
  }
  .search_input::placeholder {
    left: 75px;
  }
  .Search_tool_tip::after {
    display: none;
  }
  .Search_tool_tip::before {
    display: none;
  }
  /*===================================
                 Side Menu Icon
    ====================================*/
  .Side_menu_icon {
    right: 30px;
  }
  /*===================================
                 Side Bar
    ====================================*/
  .Side_bar_container {
    width: 80vw;
  }
  /*===================================
                Hero Section
    ====================================*/
  .hero_background {
    flex-wrap: wrap;
    height: max-content;
    justify-content: center;
  }
  .main_heading {
    height: 180px;
    width: 100vw;
    margin-top: 160px;
  }
  .Most_viewed_div {
    width: 100vw;
    justify-content: center;
    margin-right: 0px;
  }
  .artist {
    width: 70vw;
  }
  .most_viewed_box {
    height: 380px;
    width: 85vw;
    margin-right: 15px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
  }
  /*===================================
             Plan Compaison Boxes
    ====================================*/
  .Plans_container {
    margin-top: 100px;
  }
  .Standard_plan_box,
  .Premium_plan_box {
    margin-top: 20px;
    width: 100vw !important;
  }
  .Basic_plan_box {
    width: 100vw !important;
  }
  .Three_plans:hover {
    margin-top: 0px;
  }
  /*===================================
            Songs Categories
    ====================================*/
  .songs_container {
    width: 100%;
  }
  .songs_cata_container {
    height: 1400px;
  }
  .songs_cata_box {
    width: 90%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .songs_cata {
    width: 100%;
    border: none;
    border-radius: 2px;
    margin-top: 1px;
  }
  .songs_cata .cata_bg_img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 2px solid black;
  }
  .songs_cata:hover .cata_arrow {
    transform: scale(0.6);
  }
  .cata_arrow {
    right: 23%;
    transform: scale(0.9);
  }
  /*===================================
                 Tik And Cross Buttons
    ====================================*/
  /*===================================
                 Side Bar
    ====================================*/
  /*===================================
                 Side Bar
    ====================================*/
}
@media (min-width: 300px) and (max-width: 424px) {
  :root {
    --Side_all_categories_font_size-: 1.2rem;
    --Three_dots_font_size-: 1.1rem;
  }
  html {
    font-size: 80%;
  }
  /*===================================
        Hiding Navigation Bar For Pc  
    ====================================*/
  .Navigation_options_background {
    display: none;
  }
  /*===================================
                    Logo 
    ====================================*/
  .Logo_container {
    max-width: 100px;
    min-height: 60px;
  }
  .logo_div {
    height: 60px;
    width: 60px;
  }
  .logo_img {
    width: 70px;
  }
  /*===================================
                   Sign In 
    ====================================*/
  .sign_in {
    height: 40px;
    width: 40px;
    margin-top: 0px;
    margin-right: 0px;
  }
  .login {
    width: 40px;
  }
  /*===================================
                   Search Button
    ====================================*/
  .search_div {
    height: 20px;
    margin-right: 36px;
    width: 20px;
    position: static;
  }
  .Search_img img {
    cursor: pointer;
    height: 38px;
  }
  /*===================================
                Search Input Tag
    ====================================*/
  .seach_btn_input {
    justify-content: center;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -340%);
  }
  .search_input {
    width: 70vw;
    position: relative;
  }
  .search_input::placeholder {
    left: 75px;
  }
  .Search_tool_tip::after {
    display: none;
  }
  .Search_tool_tip::before {
    display: none;
  }
  /*===================================
                 Side Menu Icon
    ====================================*/
  .Side_menu_icon {
    right: 30px;
  }
  /*===================================
                 Side Bar
    ====================================*/
  .Side_bar_container {
    width: 100vw;
  }
  /*===================================
                Hero Section
    ====================================*/
  .hero_background {
    flex-wrap: wrap;
    height: max-content;
    justify-content: center;
  }
  .main_heading {
    height: 180px;
    width: 100vw;
    margin-top: 160px;
  }
  .Most_viewed_div {
    width: 90vw;
    justify-content: center;
    margin-right: 15px;
  }
  .artist {
    width: 70vw;
  }
  .most_viewed_box {
    height: 380px;
    width: 100vw;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
  }
  /*===================================
             Plan Compaison Boxes
    ====================================*/
  .Standard_plan_box,
  .Premium_plan_box {
    margin-top: 20px;
    width: 100vw !important;
  }
  .Three_plans:hover {
    margin-top: 0px;
  }
  /*===================================
            Songs Categories
    ====================================*/
  .songs_container {
    width: 100%;
  }
  .songs_cata_container {
    height: 1400px;
  }
  .songs_cata_box {
    width: 90%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .songs_cata {
    width: 100%;
    border: none;
    border-radius: 2px;
    margin-top: 1px;
  }
  .songs_cata .cata_bg_img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 2px solid black;
  }
  .songs_cata:hover .cata_arrow {
    transform: scale(0.6);
  }
  .cata_arrow {
    right: 23%;
    transform: scale(0.9);
  }
  /*===================================
                 Tik And Cross Buttons
    ====================================*/
  /*===================================
                 Side Bar
    ====================================*/
  /*===================================
                 Side Bar
    ====================================*/
}

@media (min-width: 268px) and (max-width: 299px) {
  :root {
    --Side_all_categories_font_size-: 1.2rem;
    --Three_dots_font_size-: 1.1rem;
  }
  html {
    font-size: 80%;
  }
  .Salmon_heading {
    font-size: 4rem !important;
  }
  .salmon_motto {
    font-size: 1rem !important;
    margin-right: 0px !important;
  }
  .btn_rounded_wb {
    font-size: 15px !important;
  }
  .Plans_tik_icon {
    left: 18px !important;
  }
  .Cross_feature_icon {
    left: 18px !important;
  }
}
@media (min-width: 0px) and (max-width: 299px) {
  :root {
    --Side_all_categories_font_size-: 1.2rem;
    --Three_dots_font_size-: 1.1rem;
  }
  html {
    font-size: 70%;
  }
  .nav_container {
    justify-content: space-between;
  }
  /*===================================
        Hiding Navigation Bar For Pc  
    ====================================*/
  .Navigation_options_background {
    display: none;
  }
  /*===================================
                    Logo 
    ====================================*/
  .Logo_container {
    max-width: 100px;
    min-height: 60px;
  }
  .logo_div {
    height: 60px;
    width: 60px;
  }
  .logo_img {
    width: 59px;
  }
  /*===================================
                   Sign In 
    ====================================*/
  .sign_in {
    height: 40px;
    width: 40px;
    margin-top: 0px;
    margin-right: 0px;
  }
  .Sign_in_btn {
    padding: 8px 16%;
  }
  .login {
    width: 30px;
  }
  /*===================================
          Dots Details Container
    ====================================*/
  .dots_Details_cont {
    width: 65vw;
  }
  /*===================================
                   Search Button
    ====================================*/
  .search_div {
    height: 20px;
    margin-right: 66px;
    width: 20px;
    position: static;
  }
  .Search_img img {
    cursor: pointer;
    height: 38px;
  }
  /*===================================
                Search Input Tag
    ====================================*/
  .seach_btn_input {
    justify-content: center;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -340%);
  }
  .search_input {
    width: 70vw;
    position: relative;
  }
  .search_input::placeholder {
    left: 75px;
  }
  .Search_tool_tip::after {
    display: none;
  }
  .Search_tool_tip::before {
    display: none;
  }
  /*===================================
                 Side Menu Icon
    ====================================*/
  .Side_menu_icon {
    right: 30px;
  }
  /*===================================
                 Side Bar
    ====================================*/
  .Side_bar_container {
    width: 100vw;
  }
  /*===================================
                Hero Section
    ====================================*/
  .hero_background {
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
  }
  .main_heading {
    height: 180px;
    width: 100vw;
    margin-top: 160px;
  }
  .Salmon_heading {
    font-size: 3rem;
  }
  .salmon_motto {
    font-size: 0.8rem;
    margin-right: 13px;
  }
  .btn_rounded_wb {
    font-size: 12px;
  }
  .Most_viewed_div {
    width: 100vw;
    justify-content: center;
    margin-right: 0px;
  }
  .artist {
    width: 80vw;
    flex-wrap: wrap;
    height: 51px;
  }
  .most_viewed_box {
    height: 437px;
    width: 100vw;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .songs_container {
    height: 937px;
  }
  #Song_duration_1,
  #Song_duration_2,
  #Song_duration_3,
  #Song_duration_4,
  #Song_duration_5 {
    margin-right: 10px;
  }
  .hero_songs {
    width: 90vw;
  }
  .most_para p {
    font-size: 1.4rem;
    margin-right: 14px;
  }
  /*===================================
             Plan Compaison Boxes
    ====================================*/
  .Plans_container {
    margin-top: 80px;
  }
  .Plans_comparison_Box {
    width: 90%;
  }
  .Standard_plan_box,
  .Premium_plan_box {
    margin-top: 20px;
    width: 100vw !important;
  }
  .Basic_plan {
    margin-top: 14px;
  }
  .Three_plans {
    margin-right: 8px;
    height: 229px;
  }
  .Three_plans:hover {
    margin-top: 0px;
  }
  .Premium_plan_imgs {
    margin-right: 0px;
  }
  .Plans_tik_icon {
    left: 8px;
  }
  .Cross_feature_icon {
    left: 8px;
  }
  /*===================================
            Songs Categories
    ====================================*/
  .songs_cata_container {
    height: 1400px;
  }
  .songs_cata_box {
    width: 90%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .songs_cata {
    width: 100%;
    border: none;
    border-radius: 2px;
    margin-top: 1px;
  }
  .songs_cata .cata_bg_img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 2px solid black;
  }
  .songs_cata:hover .cata_arrow {
    transform: scale(0.6);
  }
  .Hero_songs_play {
    padding: 6px 40px;
  }
  .cata_arrow {
    right: 23%;
    transform: scale(0.9);
  }
  /*===================================
                 Tik And Cross Buttons
    ====================================*/
}
